<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      {{ product.title | uppercase }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ product.price | currency:'MXN':true }}
    </mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.image" alt="">
  </div>
  <mat-card-content>
    <p>{{ product.description | slice:0:10 }}</p>
    <p>{{ today | date:'longDate'}}</p>
    <mat-card-actions>
      <a mat-raised-button color="secondary" routerLink="/products/{{product.id}}">Ver Detalle</a>
      <button mat-raised-button color="primary" (click)="addToCart()">
        <mat-icon>shopping_cart</mat-icon>
        Agregar al carrito
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
